## ASSIGNMENT 1 Part1##
## Team Members: Akanksha Bansal, Gaurav Nanda, Prateek Aggarwal. ##

#set($MARKER="//----")

## Code to generate the interface state.
${MARKER}Convert.java
import CoreMDELite.HomePath;
import CoreMDELite.GProlog;

public class Convert {
#set($Q = '"')
#foreach($transition in $transitionS)
#set($textModel = "T2M")
#if("${Q}$textModel${Q}" == $transition.conversionType)
    //T2M
    public static void ${transition.function.replaceAll("\"","")}(String filename){
        System.out.println("Parsing the violet file and creating prolog file...");
        ${transition.addFile.replaceAll("\"","")}(filename);
    }
#end

#set($textModel = "M2M")
#if("${Q}$textModel${Q}" == $transition.conversionType)
    //M2M
    public static void ${transition.function.replaceAll("\"","")}(String filename){
        Violet result = new Violet(filename);
        result.${transition.function.replaceAll("\"","")}();
    }
#end

#set($textModel = "M2T")
#if("${Q}$textModel${Q}" == $transition.conversionType)
    //M2T
    static public Violet ${transition.function.replaceAll("\"","")}(String filename) {
        Violet result = new Violet(filename);
        result.${transition.function.replaceAll("\"","")}();
        return result;
    }
#end
#end
}

#set($MARKER="//----")

## Code to generate the interface state.
${MARKER}Violet.java

import CoreMDELite.GProlog;
import CoreMDELite.HomePath;

public class Violet extends GProlog {

    Violet(String filename){
       super(filename);
    }

    Violet(String filename, String[] array) {
        super(filename, array);
    }

    @Override
    public String fileType() {
        return ".pl";
    }

    @Override
    public String partialFileType() {
        return ".state.violet";
    }
    
    @Override
    public void conform() {
        throw new UnsupportedOperationException("Not supported yet.");
    }

#foreach($transition in $transitionS)
#set($textModel = "M2M")
#if("${Q}$textModel${Q}" == $transition.conversionType)

    public void ${transition.function.replaceAll("\"","")}(){
        ${transition.function.replaceAll("\"","")}(HomePath.homePath + "libpl/conform.pl");
    }

    public void ${transition.function.replaceAll("\"","")}(String conformFile) {
        String[] list = {HomePath.homePath+"libpl/discontiguous.pl",
                fullName ,conformFile,HomePath.homePath + "libpl/${transition.addFile.replaceAll("\"","")}"};
        SDB tmpconform = new SDB("tmpconform", list);
        tmpconform.executeProlog();
        tmpconform.delete();
    }
#end
    
#set($textModel = "M2T")
#if("${Q}$textModel${Q}" == $transition.conversionType)
     public Violet ${transition.function.replaceAll("\"","")}(String extra) {
        Violet result = new Violet(filename + extra);
        invokeVm2t(result, HomePath.homePath + "libvm/${transition.addFile.replaceAll("\"","")}");
        return result;
    }

    public Violet ${transition.function.replaceAll("\"","")}() {
        return ${transition.function.replaceAll("\"","")}("");
    }
#end    
#end
    
}
